.input {
    width: 100%;
    padding: 7px 0;
    font-size: 13px;
    line-height: 13px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-color);
}

.right-placeholder {
    text-align: end;
}
