.label {
    color: var(--main-color);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    max-width: 122px;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.input {
    display: none;
}