.button {
    background-color: var(--main-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px;
    max-width: 280px;
    padding: 12px;
    text-align: center;
    width: 100%;
}
