.context-wrapper {
    background: transparent;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.context-list {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 6px 8px;
    position: absolute;
}
