.user-info-item-edit {
    display: flex;
    align-items: flex-end;
}

.user-info-label {
    color: #1e1e1e;
    margin-right: 9px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 16px;
}


.error-message-right {
    text-align: end;
}