* {
    margin: 0;
    padding: 0;
    border: none;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.form-authorization {
    max-width: 340px;
    width: 100%;
    min-height: 450px;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}
