.overlay-panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .4);
}

.modal {
    margin: 50%;
    max-width: 470px;
    width: 100%;
    min-height: 231px;
    background-color: #fff;
}

.form {
    margin: 30px auto;
}

.title-modal {
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e
}
