.input-search {
    background: url("/icons/search.svg") no-repeat center center #efefef;
    background-position-x: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #1e1e1e;
    height: 35px;
    outline: none;
    padding: 0 10px 0 34px;
    width: 100%;
}
