.button-row {
    background: url("/icons/left-row.svg") no-repeat var(--main-color);
    background-position: center;
    background-position-x: 6px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
}
