.send-msg-input {
    background-color: #efefef;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    color: black;
    display: block;
    margin: 0 10px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}

.send-msg-input::placeholder {
    color: var(--grey-color);
}
