.link {
    color: var(--main-color);
    display: block;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    text-decoration: none;
}

.danger {
    color: var(--danger-color);
}
